@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital@1&family=Roboto:wght@700&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    border: none;
    outline: none;
}

header{
    background-image: url(../IMG/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
}

header h1{
    color: white;
    text-align: center;
    font-size: 50px;
    padding: 70px 0;
}

body {
    background: #F1F1F1;
    font-family: 'Roboto', sans-serif;
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
}

nav {
    background: #FEFEFE;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px 20px;
    border-radius: 5px;
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
    -webkit-box-shadow: 10px 10px 20px rgba(170, 170, 170, 0.16);
            box-shadow: 10px 10px 20px rgba(170, 170, 170, 0.16);
}

body.dark  {
    background: #222222;
}

body.dark nav {
    background: #222222;
    -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16);
            box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16);
}

body.dark nav a {
    color: #C8C8C8;
}

body.dark nav a:hover {
    color: #FEFEFE;
}

nav .logotipo {
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

nav .enlaces {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

nav .enlaces a {
    margin-right: 40px;
}

nav .enlaces a:hover {
    color: #707070;
}


.switch {
    background: #343D5B;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    outline: none;
}

.switch::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #F1F1F1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
    -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.switch.active {
    background: orange;
    color: #000;
}

.switch.active::after {
    right: 0;
    left: unset;
}

.switch span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #fff;
}

/* Buscador de Articulos */

.wrapper {
    width: 95%;
    margin: 0 auto;
}

#search-container {
    margin: 0.5em 0;
}

#search-container input {
    background-color: transparent;
    width: 40%;
    border-bottom: 2px solid #110f29;
    padding: 1em 0.3em ;
    text-align: center;
}

body.dark #search-container input{
    border-bottom: 2px solid #f3f3f3;
}

#search-container input:focus {
    border-bottom-color: rgb(1, 1, 255);
}

#search-container button {
    padding: 1em 2em;
    margin-left: 1em;
    background-color: rgb(2, 2, 74);
    color: white;
    border-radius: 5px;
    margin-top: 0.5em;
}

body.dark #search-container button{
    background-color: rgb(1, 1, 255);
}

.button-value {
    border: 2px solid rgb(2, 2, 74);
    padding: 1em 2.2em;
    border-radius: 3em;
    background-color: transparent;
    color: rgb(2, 2, 74);
    cursor: pointer;
}

body.dark .button-value {
    border: 2px solid white;
    color: white;
}

.active {
    background-color: rgb(1, 1, 255);
    border: 2px solid rgb(1, 1, 255);
    color: white;
}


#products {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 1.5em;
    padding: 2em 0;

}

.card {
    background-color: #fff;
    max-width: 18em;
    margin-top: 1em;
    padding: 1em;
    border-radius: 5px;
    border: 3px solid rgb(2, 2, 74);
    box-shadow: 10px 10px 10px gray;
}

body.dark  .card {
    background: rgb(57, 57, 57);
    border: 3px solid white;
    box-shadow: 10px 10px 10px black;
}


.card:hover{
    box-shadow: 0 0 10px black;
    scale: 1.05;
}

.image-container {
    text-align: center;
}

img {
    max-width: 100%;
    object-fit: contain;
    height: 15em;
}

.container {
    padding-top: 1em;
    color: rgb(2, 2, 74);
}

body.dark .container {
    color: white;
}

.container h5 {
    font-weight: 500;
}

.hide {
    display: none;
}



/* Responsive - Buscador de Articulos */

@media screen and (max-width: 720px) {
    img {
        max-width: 100%;
        object-fit: contain;
        height: 10em;
    }
    .card{
        max-width: 10em;
        margin-top: 1em;
    }
    #products {
        grid-template-columns: auto auto;
        grid-column-gap: 1em;
    }
    
}

/*=======================================*/

.contenedor{
    max-width: 1200px;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;

    contain: paint;
}

.cont-zona{
	max-width: 1200px;
	width: 95%;
	margin: auto;
}

.cont-zona  h2{
	color: rgb(2, 2, 74);
	font-family: "Roboto", sans-serif;
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 15px 0px;
}

body.dark .cont-zona h2 {
    color: white;
}

.cont-zona  h2:after{
	content: '';
	width: 100%;
	height: 1px;
	background: rgb(2, 2, 74);
	margin: 20px 0;
}

body.dark .cont-zona  h2:after{
    background: white;
}


.contenedor .contenedor-items{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 30px;
    grid-row-gap: 30px;
    width: 60%;
    transition: .3s;
}

.contenedor .contenedor-items .item{
    max-width: 200px;
    padding: 10px;
    margin: auto;
    border: 3px solid rgb(2, 2, 74);
    box-shadow: 10px 10px 10px gray;
    border-radius: 10px;
    padding: 20px;
    transition: .3s;
}

body.dark .contenedor .contenedor-items .item {
    background: rgb(57, 57, 57);
    border: 3px solid white;
    box-shadow: 10px 10px 10px black;
    color: white;
}

.contenedor-items .item:hover{
    box-shadow: 0 0 10px black;
    scale: 1.05;
}

.contenedor .contenedor-items .item .img-item{
    width: 100%;
}

.contenedor .contenedor-items .item .titulo-item{
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.contenedor .contenedor-items .item .precio-item{
    display: block;
    font-weight: bold;
    text-align: center;
    font-size: 22px;
}

.contenedor .contenedor-items .item .boton-item{
    display: block;
    margin: 10px auto;
    border: none;
    background-color: black;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}

body.dark .contenedor .contenedor-items .item .boton-item{
    background-color: rgb(2, 2, 74);
}

/* Recuadro Carrito de Compras*/

.carrito{
    border: 3px solid rgb(2, 2, 74) ;
    box-shadow: 10px 10px 10px gray;
    width: 35%;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: auto;
    position: sticky !important;
    top: 0;
    transition: .3s;
    opacity: 0;
    margin-right: -100;
}

body.dark .carrito {
    box-shadow: 10px 10px 10px black;
}

.carrito .header-carrito{
    background-color:rgb(2, 2, 74);
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

.carrito .carrito-item{
    display: flex;
    align-items: center;
    position: relative;
    border-bottom:3px solid rgb(2, 2, 74);
    padding: 20px;
}

body.dark .carrito .carrito-item {
    background-color: #f3f3f3;
}


.carrito .carrito-item img{
    margin-right: 20px;
}

.carrito .carrito-item .carrito-item-titulo{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.carrito .carrito-item .selector-cantidad{
    display: inline-block;
    margin-right: 25px;
}

.carrito .carrito-item .carrito-item-cantidad{
    border: none;
    font-size: 18px;
    background-color: transparent;
    display: inline-block;
    width:30px;
    padding: 5px;
    text-align: center;
}

.carrito .carrito-item .selector-cantidad i{
    font-size: 18px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid rgb(2, 2, 74);
    cursor: pointer;
}



.carrito .carrito-item .carrito-item-precio{
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 5px;

}

.carrito .carrito-item .btn-eliminar{
    position: absolute;
    right: 15px;
    top: 15px;
    color: rgb(2, 2, 74);
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid rgb(2, 2, 74);
    cursor: pointer;
    display: block;
    background: transparent;
    z-index: 20;
}

.carrito .carrito-item .btn-eliminar i{
    pointer-events: none;
}

.carrito-total{
    background-color: #f3f3f3;
    padding: 30px;
}

.carrito-total .fila{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.carrito-total .btn-pagar{
    display: block;
    width: 100%;
    border: none;
    background: rgb(2, 2, 74);
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}

.carrito-total .btn-pagar:hover{
    scale: 1.05;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    font-family: "Comic Neue", cursive;
    background-image: url(../IMG/banner.jpg);
    color: white;
    text-align: center;
    padding-top: 15px;
}

/* Carrusel */

#carrusel-img{
    width: 100vw;
    height: 100vh;
    background-color: #eafdfc;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;


    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
    overflow: hidden;

}

.carrusel{
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.imagenes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}


.img {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 85);
    width: 1899px;
    height: 382px;
    border-radius: 15px;
    margin: 5px;
    object-fit: cover;
}

.texto {
    overflow: hidden;
    position: absolute;
    flex-direction: column;
    transform: translateY(0px);
    margin-bottom: 5px;
    background-color: rgba(63, 106, 138, 0.21);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.texto h3 {
    text-shadow: 0px 0px 15px black;
    padding-top: 20px;
    color: white;
    font-weight: 100;
    font-size: 20px;
}

.texto p{
    align-items: center;
    padding: 10px;
    color: white;
    font-size: 0px;
    font-weight: 100;
}

.imagenes .texto {
    width: 600px;
    height: 200px;
    transition: 1s;
}

.imagenes:hover .texto{
    transition: height 1s, transfrom 1s, background-color 1s;
    transform: translateY(-150px);
    height: 150px;
    background-color: rgba(63, 106, 138, 0.71);
}


.imagenes:hover .texto p{
    transition: font-size 0s .2s linear;
    font-size: 18px;
    font-weight: 150;

    text-shadow: 0px 0px 10px #000000;
}

.puntos{
    display: flex;
    align-items: center;
    justify-content: center;
}

.puntos p{
    font-size: 100px;
    font-weight: 500;
    margin-top: -50px;
    color: black;
}

.puntos .bold{
    font-weight: 700;
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(1, 1, 255) ;
}

body.dark .puntos .bold {
    color: white;
}



/* Responsive */

@media screen and (max-width:850px){
    .contenedor{
        display: block;
    }

    .contenedor-items{
        width: 100% !important;
    }

    .carrito{
        width: 100%;
    }
}